<div class="alert-error">
  <% if flash[:error] %>
    <p><%= flash[:error] %></p><br />
  <% end %>
</div>

<%= form_for @review, url: review_path, remote: true do |f| %>
  <%= f.text_area :content, cols: 90, rows: 16, class: "form-input" %><br />
  <%= f.submit "Update review", style: "font-size: 1.25em;", id: "edit-review-button", class: "button" %>
  <% if @review.ratings.count == 0 %>
    <%= link_to "Delete review", review_path, action: :destroy, method: :delete, style: "font-size: 1.25em;", id: "delete-review-button", class: "button" %>
  <% end %>
  <%= link_to "cancel", review_path, class: "cancel-link" %>
<% end %>
<br />
<br />
