<%= render partial: "reviews/show", locals: { review: @review, user: @user } %>

<div class="alert-notice">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</div>

<h2>Welcome, <%= @user.name %></h2>

<%= link_to "+ create new project", new_project_path(user: @user.id), class: "cancel-link" %>

<div class="tab-container">
  <ul class="tabs">
    <li class="active"><a href="#projects">Projects</a></li>
    <li><a href="#reviews">Reviews</a></li>
    <li><a href="#invites">Invites</a></li>
  </ul>

  <div class="tab-content margin" id="projects">
    <h3>Projects You've Created</h3>

    <% @projects.each do |project| %>
      <div class="bracket-box">
        <div class="squarebrackets">
          <%= link_to project.title, project, class: "bracket-link project-card" %>
          <p><%= project.created_at.strftime("%b %d, %Y") %>
          <% if project.updated_at != project.created_at %>
            | updated <%= project.updated_at.strftime("%b %d, %Y") %>
          <% end %></p>
          <p><%= project.helpful_reviews_count %> Review<%if project.helpful_reviews_count != 1%>s<% end %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="tab-content margin" id="reviews">
    <h3>Reviews You've Written</h3>
    <% @reviews.each do |review| %>
      <div class="bracket-box">
        <div class="squarebrackets">
          <%= link_to truncate(review.content, length: 170), review_path(review), class: "bracket-link review-card" %>
              <p><%= review.get_project %> by <%= review.get_project_owner %></p><p></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="tab-content margin" id="invites">
    <h3>Projects You're Invited to Review</h3>
    <% @invites.each do |invite| %>
      <div class="bracket-box">
        <div class="squarebrackets">
          <%= link_to invite.title, invite, class: "bracket-link project-card" %>
          <p><%= invite.created_at.strftime("%b %d, %Y") %>
          <% if invite.updated_at != invite.created_at %>
            | updated <%= invite.updated_at.strftime("%b %d, %Y") %>
          <% end %></p><p></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
