<%= render partial: "reviews/show", locals: { review: @review, user: @user } %>

<h2>Welcome, <%= @user.name %></h2>

<div>
  <div class='mini-box'>
    <div class='squarebrackets'>
      <center><%= link_to '+ create new project', new_project_path(user: @user.id), class: 'body-link new-form-link' %></center>
    </div>
  </div>
</div>

<h3>Projects you've created</h3>

<% @projects.each do |project| %>
  <div>
    <div class='mini-box'>
      <div class='squarebrackets'>
        <%= link_to project.title, project, class: 'body-link' %>
        <p><%= project.created_at %>
        <% if project.updated_at != project.created_at %>
          | updated <%= project.updated_at %>
        <% end %></p>
        <p><%= project.positive_reviews_count %></p>
      </div>
    </div>
  </div>
<% end %>

<h3>Reviews you've written</h3>

<% @reviews.each do |review| %>
  <div>
    <div class='mini-box'>
      <div class='squarebrackets'>
        <%= link_to review.content, review_path(review), class: 'body-link' %>

            <p><%= review.get_project %></p>
            <p><%= review.get_project_owner %></p>

      </div>
    </div>
  </div>
<% end %>
