<h2>Rate review</h2>

<p><span class='carrot'>></span> <%= @review.content %></p><br />

<p>Is this review kind, specific, and actionable? If your answer is no, then explain why.</p><br />

<% if flash[:error] %>
  <div class = "alert-error"><%= flash[:error] %><br /></div>
<% end %>

<%= form_tag("/ratings", method: "post") do %>
  <%= fields_for :rating do |f| %>
    <div class='big-box'>
      <%= f.radio_button(:helpful, true) %>
      <%= f.label :helpful_true do %>
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      <% end %>

      <%= f.radio_button(:helpful, false) %>
      <%= f.label :helpful_false do %>
        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
      <% end %>
      <br /><br />

      <div class='large-content-field'>
        <%= f.label :explanation, "Explanation:" %><br /><br />
        <%= f.text_area(:explanation, cols: 90, rows: 16, style: 'padding: 10px; font-size 1.25em;') %>
      </div>

      <%= f.hidden_field :review_id, value: @review.id %>

      <%= f.submit("Rate review") %>
    </div>
  <% end %>
<% end %>
