<h2>Create new project</h2>

<% if flash[:error] %>
  <div class='alert-error'><%= flash[:error] %><br /></div>
<% end %>

<%= form_for @project do |f| %>
  <div class='big-box'>
    <%= f.label :title, "Title:" %>
    <%= f.text_field :title, size: 90 %><br /><br />
    <div class='large-content-field'>
      <%= f.label :description, "Description:" %><br /><br />
      <%= f.text_area(:description, cols: 90, rows: 16, style: 'padding: 10px; font-size: 1.25em;') %>
    </div>

    <%= f.submit("Create new project") %>
  </div>
<% end %>
