<div class='alert-notice'>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</div>

<h2>
  <%= @project.title %>&nbsp;
  <%= link_to(edit_project_path(@project), class: 'edit-link', id: 'edit-project-link') do %>
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  <% end %>
</h2>

<div class='markdown-content'>
  <p><%= markdown(@project.description) %></p>
</div>
<br \>

<h3>Reviews</h3>

<div>
  <div class='mini-box' id='new-review-box'>
    <div class='squarebrackets'>
      <center><%= link_to '+ review project', new_review_path(@project), class: 'body-link new-form-link', remote: true, id: 'new-review-link' %></center>
    </div>
  </div>
</div>

<% @reviews.each do |review| %>
  <div>
    <div class='mini-box'>
      <div class='squarebrackets'>
        <%= link_to(review, class: 'body-link') do %>
          <span class='carrot'>&gt;</span> 
          <span class='card-small-text'>
            <%= truncate(review.content, length: 100) %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div id='new-review' class='load-form'></div>
