<div class="alert-error">
  <% if flash[:error] %>
    <p><%= flash[:error] %></p><br />
  <% end %>
</div>

<%= form_for @review, url: review_path, remote: true do |f| %>
  <%= f.text_area :content, cols: 90, rows: 16, class: 'form-input' %><br />
  <%= f.submit 'Submit', style: 'font-size: 1.25em;', id: 'edit-review-button', class: 'button' %>
  <%= link_to 'cancel', review_path, class: 'cancel-link' %>
<% end %>
<br />
<br />