<div class='alert-notice'>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</div>

<h2>
  Review
  <%= link_to edit_review_path(@review), class: 'edit-link', id: 'edit-review-link', remote: true do %>
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  <% end %>
</h2>

<div id='review-content' class='markdown-content'>
  <p> <%= markdown(@review.content) %></p>
</div>
<br />

<div id='edit-review' class='load-form'></div>

<h3>Ratings</h3>

<p>Was this review kind, specific, and actionable?</p><br />

<div>
  <div class='mini-box' id='new-rating-box'>
    <div class='squarebrackets'>
      <center><%= link_to "+ rate review", new_rating_path(@review), class: 'body-link new-form-link', remote: true, id: 'new-rating-link' %></center>
    </div>
  </div>
</div>

<% @ratings.each do |rating| %>
  <div>
    <div class='mini-box'>
      <div class='squarebrackets'>
        <span class='body-link'>
        <center><% if rating.helpful %>
          <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
        <% else %>
          <i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i>
        <% end %>
        <% if !rating.explanation.blank? %>
          <br /><br />
          <span class='card-small-text'>
            <%= rating.explanation %>
          </span>
        <% end %></center>
        </span>
      </div>
    </div>
  </div>
<% end %>

<div id='new-rating' class='load-form'></div>
