<!DOCTYPE html>
<html>
  <head>
    <title>Reviewr</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Cutive' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/c416b7395a.js"></script>
  </head>

  <body>
    <div class="header">
      <section class="big-box">
        <h1><a class="brand" href="/">Reviewr</a>
        <% if current_user %>
          <span class='back-link'><%= link_to 'Sign out', '/logout', class: 'cancel-link' %></span>
        <% end %></h1>
      </section>
    </div>
    <section class="big-box">
      <%= yield %>      
    </section>
  </body>
</html>
